/* ---------------------------------------- *\
************* Author:Dawid Matras ************
\*----------------------------------------- */
/*----------------Variables-----------------*/
:root {
  --red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --cyan: hsl(167, 40%, 24%);
  --blue: hsl(198, 62%, 26%);
  --cyan: hsl(168, 34%, 41%);
  --darkblue: hsl(212, 27%, 19%);
  --grayishblue: hsl(213, 9%, 39%);
  --darkgrayishblue: hsl(232, 10%, 55%);
  --anothergrayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
/*-----------------=BODY=-------------------*/
body {
  font-size: 18px;
}
